.container {
  width: 100%
}

.panel-body {
  background-color: magenta;
}

#red {
  background-color: red;
  color: blue;
  margin-top: 0px;
}

#green {
  background-color: green;
  margin-top: 10px;
  /*margin: 0 -2% 20px -2%;*/
  /*padding: 10px 15px 0 15px;*/
  color: blue;
  padding: 10px;
}

.navbar-default  {
  background-color: blue;
}

img {
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-bottom: 10px;
  max-width: 100%;
}

.header {
  text-align: center;
  color: white;
  background-color: red;
  margin-top: 0;
}
